<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ChatUFLA</title>
		<link href="css/chat.css" rel="stylesheet">
		<p class="logochatufla">ChatUFLA</p>
		
	</head>
	<body>
		<div id="wrapper">
			<div class="message-container">		
				<div class="message-north">
					<ul class="message-user-list">
						<li>
							<a href="#">
								<span class="status-on"></span>
								<span class="status-ausente"></span>
								<span class="user-img"></span>
								<span class="user-title">João Paulo Vilela</span>
								<p class="user-desc">Sistemas de Informação</p>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="status-on"></span>
								<span class="status-ausente"></span>
								<span class="user-img"></span>
								<span class="user-title">Kenneth Colina</span>
								<p class="user-desc">Sistemas de Informação</p>
							</a>
						</li>
					</ul>
					<div class="message-thread">
						<div class="audio-video">
							<img class="img-audio" alt="audio" src="img/audio.png"  width="30" height="30" />
							<img class="img-video" alt="video" src="img/video.png"  width="30" height="30" />
						</div>
						<div class="message bubble-left">
							<label class="message-user">João Paulo Vilela</label>
							<label class="message-timestamp">2 Horas atrás</label>
							<p>Qual é o melhor time do mundo?</p>
						</div>
						<div class="message bubble-right">
							<label class="message-user">Kenneth Colina</label>
							<label class="message-timestamp">2 Horas atrás</label>
							<p>É claro que é o Galão da Massa!</p>
						</div>
					</div>
				</div>
				<div class="message-south">
					<textarea cols="20" rows="3"></textarea>
					<button>Enviar</button>
				</div>
			</div>
		</div>
	</body>
</html>
